
body {
background-color: black;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link{
    color: aquamarine;
    font-size: 14px;
}

.body--titles{
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.pic--title{
    font-size: 21px;
    color: grey;
}

.footer{
margin-top: 12px;
}

.footer-copyright{
    text-align: right;
    color: grey;
}
